/* Munchkin CSS Started March 2023 Kirk Mitchell */

*{
transition-duration: 250ms;}

@font-face {
font-family: 'neoclassical';
src: url('/neoclassical.woff') format('woff');
font-weight: normal;
font-style: normal;
}

html {
width: 100vw;
height: 100vh;
}

header{
background-color:#282828;
color:whitesmoke;
}

body {
margin: 0;
padding: 0;
z-index: -10;
}

footer{
height:160px;
background-color:#282828;
color:whitesmoke;
z-index: -10;
}
.main-title{
transform:rotate(90deg);
opacity:.7;
position:fixed;
right:-45px;
bottom:55px;
font-size:1.5em;
font-family: 'neoclassical', serif;
z-index:0;
}

a{
text-decoration: none;
color:inherit;}


.flex-center{
display: flex;
justify-content: center;
text-align: center;}

.flex{display:flex;
text-align: center;
align-items: center;
justify-content:flex-start}

.h1 {
font-family: 'Montserrat', sans-serif;
font-weight:700;
font-size:1.5em;
margin:0;
padding:25px;
margin-right:-20px;

}

h2{
font-size:2.5em;
font-weight:500;
font-family: 'Montserrat', sans-serif;
padding:25px;
margin:0px;
}

p{margin:0;
font-family:'Montserrat', sans-serif;
font-size:1em;
font-weight: 300;
}

.div-dark{
padding:0px;
margin:0px;
background-color:#8e8e8e;
}

.div-light{
padding:0;
margin:0;
background-color:#d7d7d7;
}
/* Buttons */

.button{
justify-content: center;
width:250px;
font-family: 'neoclassical', serif;
font-size:2em;
padding:5px 10px;
border:none;
margin-left:15px;
margin-right:15px;
border-radius:15px;
letter-spacing: .5px;
margin-bottom:20px;
display: flex;
z-index:1;
}



.button:hover{
font-size:2.1em;
}

.button:active{font-size:1.7em;}

/* images */

.image{
margin:0;
position:relative;
width:100%;
padding:0px 0px;
}

.exclusive{height:30px;
width:100px;
background-color:salmon;
color:black;
position:absolute;
top:0px;
font-family:'Montserrat', sans-serif;
font-size:16px;
text-align: center;
line-height:30px;
}

.summary-div{
    display:flex;
    justify-content: space-between;
    padding:10px;
}

button{
    background-color: coral;
    height:auto;
    width:auto;
    font-family:'Montserrat';
    font-weight:600;
    font-size:1em;
    border:none;
    border-radius: 5px;
    border-bottom:3px solid #282828;
    z-index:1;
}
/* icons */

.material-symbols-outlined {
    padding:10px;
    font-size:30px;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 0
    }

.menu{
    font-size:34px;
    height:20px;
    margin-left:auto;
    margin-right:10px;
}

.chat{
    color:#282828;
position:fixed;
z-index: 10;
left:0;
bottom:0;
margin:10px;
background-color:lightyellow;
border-radius:50%;
}

.chat:hover{
    background-color: #282828;
    color:lightyellow;
}
/*
.footer{background-color:white;
height:500px;
width:100%;
position:relative;}

.footer-item{
    position:absolute;
    bottom:0;
    right:0;
    background-color:black;
    height:100px;
    width:100px;
} */


@media (max-width: 768px){
.flex-center{flex-direction: column;
align-items: center;
}

}