@font-face {
    font-family: 'neoclassical';
    src: url('/neoclassical.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Happy Monkey', sans-serif;
  background:linear-gradient(lightskyblue,teal);
  color:white;
  
  }


#header{display:flex;
  flex-direction: column;
  align-items: center;
text-align: center;}

#david{width:200px;
border-radius:50%;
border:4px solid #DAA9A1;}

h1{font-size:2.5em;}

h3{font-size:2em}

h5{font-size:1.2em}

h1, h3, h5, p{text-shadow: 0px 0px 2px #AEAAAD;
}

#dob{
  border-radius:5px;
  padding:8px 10px;
  background:#BB6F72;}

#age{margin-bottom:-10px;
  border-radius:5px;
  padding:8px 10px;
  background:#BB6F72;}

#main{
  margin-top:-50px;
  display:flex;
  flex-direction: column;
  align-items: center;
text-align: center;}

  #card{
margin-bottom:50px;
border:6px solid #DAA9A1;
border-radius:6px;
width:400px;
height:400px;
background-image: url('https://cdn5.vectorstock.com/i/1000x1000/92/49/gold-ribbon-on-pink-background-gift-box-cover-vector-4659249.jpg');
background-size:cover;}

#card:hover{background-image: url('https://media.giphy.com/media/yBwgX64KAPrHW2ltZ2/giphy.gif');
}

#card2{
  margin-bottom:50px;
  border:6px solid #DAA9A1;
  border-radius:6px;
  width:400px;
  height:400px;
  background-image: url('https://cdn5.vectorstock.com/i/1000x1000/92/49/gold-ribbon-on-pink-background-gift-box-cover-vector-4659249.jpg');
  background-size:cover;}

#card2:hover{background-image: url('https://media.giphy.com/media/452ZAGflfsnGVxhUjt/giphy.gif');
}

#card3{
  margin-bottom:50px;
  border:6px solid #DAA9A1;
  border-radius:6px;
  width:400px;
  height:400px;
  background-image: url('https://cdn5.vectorstock.com/i/1000x1000/92/49/gold-ribbon-on-pink-background-gift-box-cover-vector-4659249.jpg');
  background-size:cover;}

#card3:hover{background-image: url('https://media.giphy.com/media/ZThQqlxY5BXMc/giphy.gif');
}

#card4{
  margin-bottom:50px;
  border:6px solid #DAA9A1;
  border-radius:6px;
  width:400px;
  height:400px;
  background-image: url('https://cdn5.vectorstock.com/i/1000x1000/92/49/gold-ribbon-on-pink-background-gift-box-cover-vector-4659249.jpg');
  background-size:cover;}

#card4:hover{background-image: url('https://media.giphy.com/media/MDg1cqzwhvfbSgKXBx/giphy.gif');
}

#card5{
  margin-bottom:50px;
  border:6px solid #DAA9A1;
  border-radius:6px;
  width:400px;
  height:200px;
  background-image: url('https://cdn5.vectorstock.com/i/1000x1000/92/49/gold-ribbon-on-pink-background-gift-box-cover-vector-4659249.jpg');
  background-size:cover;}

#card5:hover{background-image: url('https://media.giphy.com/media/KzDqC8LvVC4lshCcGK/giphy.gif');
}

#invite{font-style: italic;
margin-top:-20px;
margin-bottom:100px;}

a{color:black;
}

a:hover{color:gold;}