/* Oldagram CSS Started April 2023 Kirk Mitchell */

* {
    transition-duration: 250ms;
}

@font-face {
    font-family: 'neoclassical';
    src: url('/neoclassical.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    align-items: center;
    display: flex;
}

.real-body {
    margin: 20px auto 20px auto;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    border-bottom: .5px solid gray
}

main {
    height: 475px;
}

footer {
    height: 100px;
}

header,
main,
footer {
    width: 100%;
}

.phone {
    border-radius: 15px;
    border: 2px solid black;
    width: 400px;
    height: 675px;
}

.main-title {
    transform: rotate(90deg);
    opacity: .5;
    position: absolute;
    right: -45px;
    bottom: 55px;
    font-size: 1.5em;
    font-family: 'neoclassical', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 15px;
    border: 3px solid #FF4033;
}


.h1,
.h2,
.p-normal,
.p-sm {
    margin: 0;
    padding: 15px;
}

.h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.2em;
}

.h2 {
    font-family: 'Montserrat', serif;
    font-size: 1.3em;
}


.p-normal {
    margin-top:-28px;
    font-family: 'Montserrat', serif;
    font-size: 1em;
}

.p-sm {
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    font-weight: 400;
    margin-top:-17px;
    margin-left:-5px;
}

.bold{font-weight:600;}

.user-flex{display:flex;
}

.user-info{
    margin-left:-10px;
}

.img-cont{ text-align: center;}
.post-image{
    width:390px;
    height:auto;
    margin-top:-5px;

}



/* Icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 100;
  color:black;
  padding:7px;

}

.material-symbols-outlined:hover {
    font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 100;
    color:#FF4033;
  }

  .material-symbols-outlined:active {
    font-variation-settings:
    'FILL' 1,
    'wght' 100,
    'GRAD' 0,
    'opsz' 100;
  }




@media (max-width: 768px) {
    .flex-center {
        flex-direction: column;
        align-items: center;
    }

}