* {
  font-family: "Oswald";
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
}
body {
  background-color: tan;
}
.form {
  text-align: center;
  display: inline-block;
  background-color: gold;
  margin-left: 10px;
  margin-right: 10px;
}
.nameinput {
  align-self: left;
  margin-left: 10px;
  margin-right: 10px;
  background-color: gray;
  opacity: 0.8;
  width: 300px;
  height: 20px;
}
.emailinput {
  align-self: left;
  margin-left: 10px;
  margin-right: 10px;
  background-color: gray;
  opacity: 0.8;
  width: 335px;
  height: 20px;
}
h1 {
  font-size: 30px;
}
p {
  font-size: 20px;
}

.drop {
  font-size: 18px;
  background-color: gray;
  opacity: 0.8;
}
.memtype {
  font-style: italic;
}

textarea {
  width: 500px;
  font-size: 18px;
  height: 150px;
  background-color: gray;
  opacity: 0.8;
  color: white;
}
.submit {
  width: 100px;
  height: 50px;
  font-size: 18px;
  background-color: coral;
}
