body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin:0;
}

/* =================
    Typography
   ================= */


h1 {
    font-size:2.5rem;
    font-weight: 400;
    text-shadow: 0px 2px #816fca;
}

h2{

   text-shadow: 1px 1px 1px #816fca;
    font-size:2.25rem;
    margin:.167em;
}

p,
.top-text{
    font-size:1.125rem;
    line-height:1.35;
}

.top-text{order:-1;
    margin-top:-5px;
    line-height: 10px;
}
.beta-text{order:1;}


.beta-text,
.subheading{
    text-transform:uppercase;
}

.beta-text {
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;
    margin-bottom:.5em;
}

/* =================
    Flex containers
   ================= */

   .intro,
   .main-content {
       display: flex;
       flex-direction: column;
   }

   .intro{
    justify-content: space-between;
   }
/* =================
    Intro
   ================= */


.intro {
    text-align: center;
    min-height:250px;
    justify-content: center;
    color: #fff;
    background:#9480e4 url('images/intro-bg.png');
    background-size: cover;
    background-position: center;
}

/* ====================
    Main content
   ==================== */


.main-content{
    padding:2.5em 2em;
    align-items: center;
}
.img-main{

    width:120px;
    border-radius: 50%;
}



/* =================
    Form
   ================= */

   form{
    display: flex;
    flex-direction: column;
    width:100%;
    margin:1em;
    padding:0;
    align-items: center;
    text-align: center;
    justify-content: center;
}

input{
    display: flex;
    width:80%;
    padding:.75em;
    margin:.5em;
    border-radius: .75em;
    font-family:inherit;
   }

input:not(:last-of-type){ border: 2px solid #9480e4;}

input:focus{
    border:2px solid #8a71ec;
    background-color: #e6e8ec;
    outline:none;
}
button,
.btn{
    padding:.75em;
    margin:.5em;
    border-radius: .25em;
    font-size:1.2em;
}

button{
    cursor: pointer;
    outline:none;
    border:none;
    background-color:#9480e4;
    width:80%;
    color:white;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .2em;

}
button:hover{
    background-color:white;
    color:#9480e4;
    border:2px solid #816fca;
}
/* =================
    Media queries
   ================= */

   @media(min-width:576px){
    body{
        display: flex;
    }

    .intro,
    .main-content{
        width:50%;
        padding:1em;
        height:100vh;
        justify-content: center;
    }

    h1{font-size:5vw;}

    h2{font-size:2.625rem;}

    .beta-text{font-size:1.25rem;}

form,
p{max-width: 450px;}

button{max-width: 350px;}
   }