/* Munchkin CSS Started March 2023 Kirk Mitchell */

*{
transition-duration: 250ms;}

@font-face {
font-family: 'neoclassical';
src: url('/neoclassical.woff') format('woff');
font-weight: normal;
font-style: normal;
}

html {
width: 100vw;
height: 100vh;
}


.pumpkin-head{
position:relative;
margin:0px;
height:100px;
width:100%;
background-color:rgba(115, 28, 29, 0.681);
z-index: -10;
}

img{rotate: 90deg;
height:120px;
width:auto;
bottom:-30px;
left:20px;
position: absolute;
}
body {
margin: 0;
padding: 0;
background-color: whitesmoke;
font-family:'Montserrat', sans-serif;
color:#1a1a1a;
text-shadow:1px 1px 0px #b5838d;
}

nav{
display:flex;
justify-content: space-around;
background-color: #1a1a1a;
height:50px;
width:100%;

}
#main-title{
transform:rotate(90deg);
color:inherit !important;
opacity:.7;
position:fixed;
right:-55px;
bottom:35px;
border:none;
font-size:20px;
font-family: 'neoclassical', serif;
text-shadow:2.5px 2.5px 1px #b5838d;
}

a{margin:10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-bottom:2px solid #b5838d;
padding:5px;
text-decoration: none;
color:white;}

a:hover{background-color: #b5838d;
border-radius: 30px;
}



.flex-center{
display: flex;
justify-content: center;
text-align: center;}



h1 {
margin:0px;
font-size:2.5em;
z-index: 1;
}

h2{
margin:0px;
text-align:center;
}

ul{
padding:10px;
margin:10px;
display:flex;
flex-direction: column;
text-align: center;
list-style: none;
}

li{background-color: paleturquoise;
padding:15px;
margin:10px;
height:20px;
border-radius: 20px;
text-decoration: none;
font-weight:600;
}



.light{
background-color:#ff6e6c
}

.p-normal {
font-size:1.8em;
}

.p-sm{padding:10px;
font-size:1em;
font-weight: 300;}

#meme-submit{
    background-color:salmon;
    font-weight:700;
    font-size:20px;
}

#meme-submit:hover{
    background-color: #1a1a1a;
    color:salmon;
}

/* modal */

#modal{
display:none;
height:500px;
width:400px;
background-color: #1a1a1a;
border-radius:30px;
position:fixed;
top:0;
bottom:0;
left:0;
right:0;
margin:auto;
text-align: center;
}

.modal-title{
color:white;
text-align: center;
margin:30px;
}

.modal-text{
padding:20px;
color:white;
}

.inputs{display:flex;
justify-content: space-around;
padding:10px;
height:30px;
text-align: center;
}
.button-div{
text-align: center;
justify-content: center;
}

button{
border-radius:20px;
font-weight:700;
font-size:25px;
font-family:'Montserrat';
}


#close{
width:50px;
height:50px;
color:black;
position:absolute;
top:10px;
right:10px;
}

.button-div-2{
margin-top:50px;
display:flex;
justify-content: space-around;
}
.reverse{
flex-direction: row-reverse;
}

#sub-btn{

background-color:salmon;
padding:10px;

}
/* Emotions */

.emotion-grid{
border:1px solid #1a1a1a;
border-radius: 20px;
margin:30px;
height:fit-content;
width:300px;
justify-content: space-between;
flex-direction: column;
display: flex;

}
.emotion-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
color:black;
flex-direction: column;
margin:20px 10px;
}

/*
.emotion-container:hover{
    background-color: salmon;
} */



.btn{
    font-family:'Montserrat';
    font-size:20px;
    padding:10px;
    border-radius:20px;
    margin-bottom:50px;
}
.top-emotion-container{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.bottom-emotion-container{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.last{border-bottom:none;
}

.emotions{
color:black;
padding:0px 20px;
text-shadow: none;
font-weight:600;
padding:10px 0px;
margin:0px;
display: inline-flex;

}
.radio{
width:100%;
display: flex;
flex-direction: row;
justify-content: space-between;
margin:2px 5px;
}
.emotions-input{
display: inline-flex;
align-items: center;
padding:0px 20px;
height:auto;
width:25px;
border-radius: 50%;
}

.highlight{
    accent-color:salmon;
    background-color: salmon;
    font-weight:700;
    border-radius:20px;
    padding:5px;
}
/* Form */

.input-div{
margin:5px auto;
width:400px;
}
/*
label{
margin:0;
padding:10px;
font-weight:600;
color:black;
}

input{border-radius:20px;
font-family:inherit;
width:200px;
color:black;
text-align: center;
border:0;
padding:10px;
margin:5px;} */

#submit-input{
width:auto;
position: absolute;
bottom:0px;
left:5px;
right:5px;
padding:20px;
text-align: center;
}

.practice{
display: block;
margin-left:auto;
margin-right:auto;
width:400px;
background-color:lightblue;
height:500px;
text-align:center;
}


@media (max-width: 768px){
.flex-center{flex-direction: column;
align-items: center;
}

}