@font-face {
    font-family: 'neoclassical';
    src: url('/neoclassical.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
html {
    width: 100vw;
    height: 100vh;
  }

body {
  margin: 0;
  padding: 0;
  background-color:rgba(218, 218, 218,100);

  }

  #hero-container{width:100%;
    height:300px;
    display:flex;
  justify-content: center;
text-align: center;

}
  #hero-img{width:100%; 
    display:flex;
background-image: url('ultra\ hero.jpg');
background-size:cover;
background-repeat: no-repeat;
align-items: center;
justify-content: center;
flex-shrink: 0;

  }

.hero-title{text-shadow:1px 1px 25px #708795;
    font-family: 'neoclassical', serif;
    color:white;
    font-size:4em;
    letter-spacing: 5px;text-align: center;
justify-content: center;
align-items: center;
    
}
.hero-para-div{width:fit-content;
display:flex;
margin-left:auto;
margin-right:auto;
margin-top:-40px;
}
.hero-para{
  font-family:'Lato', sans-serif;
  font-size:1.2em;
  font-weight:400;
  color:white;
  background-color: rgba(32, 63, 72, 0.8);
  background-blend-mode: luminosity;
  border-radius:10px;
  padding:5px 10px;
  display: flex;
  margin-left:10px;
  margin-right:10px;
}


.heading {
    font-family: 'neoclassical', serif;
    font-size:1.8em;
    color:#061F21;
  text-shadow:2px 2px 15px whitesmoke;

  letter-spacing: 3px;
  margin-left:10px;
  margin-right:10px;
  text-align: center;
  }
  .header {
    font-family: 'neoclassical', serif;
    font-size:1.8em;
  letter-spacing: 3px;
  text-align: center;
  }

.heading-sm {
  font-family: 'neoclassical', serif;
  font-size:1em;
  }

.paragraph-lg {font-family:'Lato', sans-serif;
  font-size:1.5em;
  font-weight:700;
  
  }

.paragraph-md {font-family:'Lato', sans-serif;
    font-size:1em;
    font-weight:400;
    margin-top:-7px;
    }

.paragraph-sm{font-family:'Lato', sans-serif;
    font-size:.8em;
    font-weight: 300;}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: black;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F6A96A;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;}


.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.flex{display:flex}

.flex-center{display:flex;
justify-content: center;}

.card{display: flex;
align-items: center;
text-align: center;
justify-content: center;
width:300px;
height:400px;
flex-direction: column;
padding:5px 15px;
margin-top:-20px;
margin-bottom:-10px;
}

.card-image{padding-bottom: 50px;
background-size:cover;
width:150px;
height:150px;
border-radius:50%;
display: flex;
margin:0;
padding:0;
}

#image-1{width:150px;
  height:150px;;background-image:url('needle.jpg');
}

#image-2{background-image:url('mariners.jpg');
}

#image-3{background-image:url('rainier.jpg');
}


.special-font{font-family: 'Libre Barcode 39 Text', cursive;
  font-size:2em;
  color:#708795;
  display: block;
  bottom:-260px;
  position:absolute;
  left:10px;}

#footer{background-color: #061F21;
height:375px;
width:100%;
color:#FFD5A4;
display: flex;
align-items: center;
justify-content:center;}


#tour-card{
  align-items: center;
justify-content:center;
display: flex;
width:600px;
height:200px;
background-color: #708795;
margin-top: -50px;
border-radius: 30px;
border-bottom:4px solid #F6A96A;
color: #061F21;
padding:10px;}

#tour-pic{padding:10px;
  margin-right:10px;
  border-radius:50%;
  height:125px;
  width:125px;
  background-image:url('finn.jpg');
  background-size:COVER;
  flex-shrink: 0;
}

.tour{ margin-left:20px;
margin-right:20px;text-align: center;}


@media (max-width: 768px) {
  .card-con{flex-direction: column;
  text-align:center;
justify-content: center;
align-items: center;}

.hero-para-div{margin-left:40px;
margin-right:40px;}

.heading{margin-left:50px;
  margin-right:50px;}

  .special-font{bottom:-1050px;}

  #tour-card{width:450px;}

  .tour{margin-left:10px;
    margin-right:10px;}

  #hero-img{background-image: url('hero.jpg') !important;
  background-size:cover;}
}
