*, *::after, *::before{
  box-sizing: border-box;
  transition-duration: 250ms;}

@font-face {
  font-family: 'neoclassical';
  src: url('/neoclassical.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

body {
  margin: 0;
  padding: 0;
  background-color:#f9f4ef;
  color:#020826;
  font-family: 'Montserrat', serif;
  }

.main-title{
  transform:rotate(90deg);
  opacity:.2;
  position:absolute;
  right:-45px;
  bottom:55px;
  font-size:1.5em;
  font-family: 'neoclassical', serif;
  }


  /*468px and below phone*/
  @media (min-width:469px){

  }