*, *::after, *::before{
  box-sizing: border-box;
  transition-duration: 250ms;}

@font-face {
  font-family: 'neoclassical';
  src: url('/neoclassical.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

body {
  margin: 0;
  padding: 0;
  background-color:#f8edeb;
  color:#6d6875;
  font-family: 'Montserrat', serif;
  text-shadow:2px 2px 1px #b5838d;
  }


.main-title{
  transform:rotate(90deg);
  opacity:.7;
  position:absolute;
  right:-45px;
  bottom:55px;
  font-size:1.5em;
  font-family: 'neoclassical', serif;
  text-shadow:2.5px 2.5px 1px #b5838d;
  }