body{
    margin:0;
    padding:10px;
    font-family:'Karla', sans-serif;
    font-weight:500;
    min-width: 500px;}
input{
    padding:10px;
    margin-bottom:10px;
    width:100%;
    box-sizing: border-box;
    height:40px;
    outline: auto;
    font-size: 22px;
    }
button{
    margin-top: 15px;
    background: #5f9341;
    color:white;
    font-weight:800;
    width:150px;
    height:50px;
    font-size:20px;
    padding:10px 20px;
    border-radius: 4%;
    border:1px solid #5f9341;
}
#delete-btn{background-color:white;
color:#5f9341}
ul{
    margin-top: 20px;
    padding-left: 0;
    list-style: none;
}
li{
    margin-top:5px;
    font-family:'Karla', sans-serif;
    font-weight:300;
    font-size:24px;
}
li a{
    color:#5f9341;
}
