/* Munchkin CSS Started March 2023 Kirk Mitchell */

*{
  transition-duration: 250ms;}

@font-face {
  font-family: 'neoclassical';
  src: url('/neoclassical.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

html {
  width: 100vw;
  height: 100vh;
  }

body {
  margin: 0;
  padding: 0;
  background-color:#565676;
  color:#F4E4BA;
  }


.main-title{
  color:#F4E4BA;
  transform:rotate(90deg);
  opacity:.5;
  position:absolute;
  right:-45px;
  bottom:55px;
  font-size:1.5em;
  font-family: 'neoclassical', serif;
  text-shadow:2.5px 2.5px 1px #D77A61;
  }

a{
  text-decoration: none;
  color:inherit;}

.flex-center{
  display: flex;
  justify-content: center;
  text-align: center;}



.h1 {
  text-shadow:2px 2px 1px #D77A61;
  font-family: 'neoclassical', serif;
  margin-right:30px;
  font-size:2em;
  margin-left:30px;
}

.p-normal {
  font-family: 'neoclassical', serif;
  text-shadow:2.5px 2.5px 1px #D77A61;
  font-size:1.5em;
  margin-left:100px;
  margin-right:100px;
}

.p-sm{
  font-family:'Montserrat', sans-serif;
  font-size:.8em;
  font-weight: 300;}

.special-font{
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size:2em;
  display: block;
  bottom:0px;
  position:absolute;
  left:10px;
  color:#D77A61;}

/* Spacers */
#top-spacer{
  margin-top:30px;}

#power-el{
  margin-top:-9px;
}

/* Buttons */

.button{
  justify-content: center;
  width:250px;
  color:#F4E4BA;
  background-color:#4A7C59;
  text-shadow:2px 2px 1px #D77A61;
  font-family: 'neoclassical', serif;
  font-size:2em;
  padding:5px 10px;
  border:none;
  margin-left:15px;
  margin-right:15px;
  border-radius:15px;
  letter-spacing: .5px;
  border-bottom:4px solid #D77A61;
  border-right:4px solid #D77A61;
  margin-bottom:20px;
  display: flex;

}

.button:hover{
  background-color:#D77A61;
  color:#565676;
  text-shadow:2px 2px 1px #BBBDF6;
  border-bottom:4px solid #4A7C59;
  border-right:4px solid #4A7C59;
  font-size:2.1em;
}

@media (max-width: 768px){
.flex-center{flex-direction: column;
align-items: center;
}

}